/* Font */
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Russo One", sans-serif;
    background-color: #1B222C;
    color: white;
    line-height: 1.5rem;
    font-size: 0.9rem;
}

h1 {
	font-size: 50px;
}

#btn-hero {

	height: 60px;
	border-radius: 5px;
	width: 150px;
	font-size: 20px;
	border: solid white 2.5px;
	background-color: gray;
	color: white;

}

#btn-hero:hover {
	cursor: pointer;
}

#btn-reset {

	height: 40px;
	border-radius: 5px;
	width: 100px;
	border: solid white 2.5px;
	background-color: gray;
	font-size: 15px;
	color: white;

}

#btn-reset:hover {
	cursor: pointer;
}

#btn-reset {
	margin-right: 10px;
}

span {
	margin-left: 10px;
	font-size: 25px;
}

.footer-body{
    background: rgb(78, 76, 76);
    width: 100vw;
}
.footer-items{
    padding: 10px;
    display: flex;
    width: 70%;
    justify-content: space-between;
}
.social-media{
    display: flex;
    width: 30%;
    justify-content: space-between;
    font-size: 1rem;
}
.footer-text{
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: rgb(176, 197, 255);
}
